/* IMPORTS */
@import url('https://rsms.me/raster/raster2.css');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400');

/* DEFINITIONS */
:root {
  color-scheme: light dark;
  --yellow: #FEDB00;
  --violet: #440099;
  --font-family-base: 'Inter', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  --font-family-variable: 'InterVariable', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  font-size: 15px !important;
}


@media (prefers-color-scheme: light) {
  :root {
    --txt-color: black;
    --bg-color: white;
    --highlight-bg-color: var(--yellow);
    --callout-txt-color: var(--violet);
    --a-txt-color: var(--violet);
    --a-ul-color: var(--yellow);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt-color: white;
    --bg-color: black;
    --highlight-txt-color: var(--yellow);
    --callout-bg-color: var(--violet);
    --a-txt-color: var(--yellow);
    --a-ul-color: var(--violet);
  }
}

/* STRUCTURE */
* {
  color: var(--txt-color);
  margin: 0;
  padding: 0;
  font-display: swap;
  /*cursor: url('~/cursor.png'), auto;*/
}

body {
  background: var(--bg-color);
}

#roundel {
  background: var(--yellow);
}

.roundel {
  font-weight: 900; /* Black */
  border-radius: 50px;
  display: block;
  height: 100px;
  width: 100px;
  margin-bottom: 40px;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  font-size: 50px;
  line-height: 100px;
  cursor: grab;
  user-select: none;
}

/* TYPOGRAPHY */
:root {
  font-family: var(--font-family-base);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: var(--font-family-variable);
  }
}

h1, h2 {
  font-weight: 800; /* Extra Bold */
  font-family: 'InterDisplay', 'InterVariable', 'Inter', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

#title {
  font-kerning: none;
  letter-spacing: -0.1rem;
}

h3, .callout {
  font-weight: 700; /* Bold */
}

blockquote, label, div, h3, ul, li, p {
  font-weight: 400; /* Regular */
}

code {
  font-family: 'Fira Code', 'SF Mono', 'Menlo', 'IBM Plex Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-weight: 300; /* Light */
  letter-spacing: -1px;
}

h1 {
  font-size: 5.5rem;
  line-height: 1;
  margin-bottom: .5em;
}

h2 {
  font-size: 2.5rem;
  line-height: 1;
  margin-bottom: .66rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
  margin-bottom: .66rem;
}

p {
  font-size: 1rem;
  text-wrap: pretty;
}

blockquote, label, code, div, ul, li, a {
  font-size: inherit;
  line-height: 1.25;
  margin-bottom: .66rem;
}

blockquote, ul {
  margin-bottom: .33em;
}

blockquote, code {
  border-left: solid 2px black;
  margin-left: 1em;
}

code {
	line-height: 1;
	margin-bottom: 0;
}

ul {
  margin-left: 2em;
}

ul.alt {
  margin-left: 1em;
}

ul.none {
  margin-left: 0;
}

row > span, row > a {
	padding-right: .66em;
}

li {
  list-style: circle;
}

li.none {
  list-style: none;
  margin-left: 0;
}

li.alt {
  list-style: circle;
  margin-left: 1em;
}

a {
  color: var(--a-txt-color);
  text-decoration: none;
  white-space: normal;
}

a:hover {
  color: var(--a-ul-color);
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: var(--a-ul-color);
  text-decoration-skip-ink: auto;
}

a:visited {
  color: var(--a-txt-color);
}

.roundel > a, .roundel > a:hover {
  user-select: none;
  cursor: wait;
  color: inherit;
  text-decoration: none;
}

.icon-text {
  display: block;
  color: black;
}

#power {
  transform: translateY(-2px);
  font-family: system-ui, var(--font-family-base);
}

@supports (font-variation-settings: normal) {
  #power {
    font-family: system-ui, var(--font-family-variable);
  }
}

@media only screen and (max-width: 800px) {
  #power {
    transform: none;
  }
}

img {
  margin: 1em 0em;
  padding: 1em 0em;
}

a > img {
  cursor: zoom-in;
}

icon {
  color: inherit;
}

/* PROPERTIES*/
div.code {
  background-color: var(--txt-color);
  color: var(--bg-color);
	margin: .66em;
  padding: .66em;
}

.highlight {
  color: var(--highlight-txt-color);
  background-color: var(--highlight-bg-color);
  text-decoration: none;
}

.callout {
  color: var(--callout-txt-color);
  background-color: var(--callout-bg-color);
  text-decoration: none;
}

a.emphasis {
  text-decoration: underline;
}

.note, .date {
  font-weight: 200; /* Extra Light */
  font-size: .66rem;
  letter-spacing: -0.045rem;
}

.note {
  font-style: italic;
}

.date {
  float: right;
}

.sub {
  list-style: circle;
  margin-left: 1em;
}

/* CONTENT */
hr {
  background: var(--txt-color);
  display: block;
  height: .66rem;
  margin-bottom: 2.5rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1rem;
  width: auto;
}

@media only screen and (max-width: 960px) {
  h1 {
    font-size: 4rem;
  }
}

@media only screen and (max-width: 800px) {
  img {
    /*background-color: var(--txt-color);*/
    /*padding: .33em;*/
    border-radius: 1rem;
    max-width: 66%;
    align-self: center;
    margin: 0;
  }
  .roundel {
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
  }
  h1 {
    font-size: 3;
  }
}

@media only screen and (max-width: 650px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1.2;
  }
  h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
}


/* SPECIAL */
emoji {
  font-style: normal !important;
}

.yellow {
  color: var(--yellow);
}
.violet {
  color: var(--violet);
}

span.rainbow {
  cursor: wait;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0em;
}

@media (prefers-color-scheme: dark) {
  hr {
    -webkit-background-clip: block;
  }
}

hr.rainbow {
  -webkit-background-clip: block;
}

/* I don't remember where I originally saw this lovely
bit of css, but it made me very happy a number of years
ago, and so here it lives on. Thank you, internet.
*/
.rainbow {
  -o-animation: rainbow 15s ease infinite;
  -webkit-animation: rainbow 15s ease infinite;
  -z-animation: rainbow 15s ease infinite;
  animation: rainbow 15s ease infinite;
  background: -moz-linear-gradient(0deg, #ff2400, #fedb00, #fedb00, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #440099, #440099);
  background: -o-linear-gradient(0deg, #ff2400, #fedb00, #fedb00, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #440099, #440099);
  background: -webkit-linear-gradient(0deg, #ff2400, #fedb00, #fedb00, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #440099, #440099);
  background: linear-gradient(0deg, #ff2400, #fedb00, #fedb00, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #440099, #440099);
  background: linear-gradient(0deg, #ff2400, #fedb00, #fedb00, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #440099, #440099);
  background-size: 2500% 2500%;
}

/* ANIMATIONS */
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
