/* DEFINITIONS */
/* VARIABLES */
:root {
  color-scheme: light dark;
  --yellow: #FEDB00;
  --violet: #440099;
}

@media (prefers-color-scheme: light) {
  :root {
    --txt-color: black;
    --bg-color: white;
    --highlight-bg-color: var(--yellow);
    --emphasis-txt-color: var(--violet);
    --a-txt-color: var(--violet);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt-color: white;
    --bg-color: #121212;
    --highlight-txt-color: var(--yellow);
    --emphasis-bg-color: var(--violet);
    --a-txt-color: var(--yellow);
  }
}

/* STRUCTURE */
* {
  color: var(--txt-color);
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-display: swap;
}

body {
  background: var(--bg-color);
}

#housing {
  margin-left: 100px;
  margin-right: auto;
  margin-top: 100px;
  width: 1000px;
}

#title {
	font-weight: bold;
	font-size: 20px;
}

header {
    background: var(--yellow);
    display: block;
    height: 100px;
    margin-bottom: 40px;
    margin-top: 10px;
    width: 100px;
}

#content {
	display: flex;
	flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  width: auto;
}

/* TYPOGRAPHY */
/* https://github.com/IBM/plex */
h1, h2, .emphasis {
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}

blockquote, label, div, h3, ul, li, p, a {
  font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
}

/*
  font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
*/

code {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

h1 {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 5px;
}

blockquote, label, code, div, ul, li, p, a {
  font-size: 15px;
  line-height: 1.25;
  margin-bottom: 10px;
}

blockquote, ul {
  margin-bottom: 5px;
}

blockquote, code {
  border-left: solid 2px black;
  margin-left: 15px;
}

code {
	line-height: 1;
	margin-bottom: 0px;
}

ul {
  margin-left: 30px;
}

ul.alt {
  margin-left: 15px;
}

ul.none {
  margin-left: 0px;
}

row > span, row > a {
	padding-right: 10px;
}

li {
  list-style: square;
}

li.none {
  list-style: none;
  margin-left: 0px;
}

li.alt {
  list-style: circle;
  margin-left: 15px;
}

a {
  color: var(--a-txt-color);
  text-decoration: underline;
}

img {
  margin: 25px, 25px, 25px, 25px;
}

icon {
  color: inherit;
}

/* PROPERTIES*/
div.code {
  background-color: #000000;
  color: #FFFFFF;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.highlight {
  color: var(--highlight-txt-color);
  background-color: var(--highlight-bg-color);
  font-weight: bold;
  text-decoration: none;
}

.emphasis {
  color: var(--emphasis-txt-color);
  background-color: var(--emphasis-bg-color);
  font-weight: bold;
  text-decoration: none;
}

a.emphasis {
  text-decoration: underline;
}

.note, .date {
  font-size: 11px;
  letter-spacing: -1px;
}

.note {
  font-style: italic;
}

.date {
  float: right;
}

.sub {
  list-style: circle;
  margin-left: 15px;
}

/* CONTENT */
#content > div {
  width: auto;
}

separator {
  background: var(--txt-color);
  display: block;
  height: 10px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  width: auto;
}

/* COMPONENTS*/
iframe {
	width: 100%;
}

.formfield {
  border: 1px black solid;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
  height: 20px;
  margin: 5px 0px 5px 0px;
  padding: 5px 10px 5px 10px;
  width: 200px;
}

.checkbox {
  border: 1px black solid;
  margin: 10px 10px 10px 0px;
}

.button {
  background: none;
  border: 1px black solid;
  color: var(--a-txt-color);
  cursor: pointer;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 15px;
  height: 20px;
  margin: 5px 0px 20px 0px;
  text-align: left;
  text-decoration: underline;
  width: 100px;
}

/* PAGES */
/* RESPONSIVE SCALING */
@media only screen and (max-width: 1200px) {
  #housing {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    width: auto;
  }
  .header {
    width: 100%;
  }
  #content {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (max-width: 960px) {
  #housing {
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    width: auto;
  }
  #content {
    margin-left: 25px;
    margin-right: 25px;
  }
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 800px) {
  #content {
    margin-left: 0;
    margin-right: 0;
  }
  h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 50px;
    line-height: 1.2;
  }
  h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 500px) {
  img {
    background-color: black;
    margin: 5px 0px 15px 0px;
    padding-top: 5px;
    width: 100%;
  }
  h2 {
    font-size: 30px;
  }
}

/* RESPONSIVE CONTENT */
@media only screen and (max-width: 1000px) {
  div.block {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

/* SPECIAL CASES */
emoji {
  font-style: normal !important;
}

/*
span.rainbow {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

separator.rainbow {
  -webkit-background-clip: block;
}

.rainbow {
  -o-animation: rainbow 15s ease infinite;
  -webkit-animation: rainbow 15s ease infinite;
  -z-animation: rainbow 15s ease infinite;
  animation: rainbow 15s ease infinite;
  background: -moz-linear-gradient(0deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background: -o-linear-gradient(0deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background: -webkit-linear-gradient(0deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background: linear-gradient(0deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background: linear-gradient(0deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 2500% 2500%;
}
*/

/* ANIMATIONS */
/*
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
*/
