/* IMPORTS */
@import url('https://rsms.me/inter/inter.css');
/*@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');*/

/* DEFINITIONS */
:root {
  color-scheme: light dark;
  --yellow: #FEDB00;
  --violet: #440099;
}


@media (prefers-color-scheme: light) {
  :root {
    --txt-color: black;
    --bg-color: white;
    --highlight-bg-color: var(--yellow);
    --callout-txt-color: var(--violet);
    --a-txt-color: var(--violet);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --txt-color: white;
    --bg-color: #121212;
    --highlight-txt-color: var(--yellow);
    --callout-bg-color: var(--violet);
    --a-txt-color: var(--yellow);
  }
}

/* STRUCTURE */
* {
  color: var(--txt-color);
  margin: 0px;
  padding: 0px;
  font-display: swap;
  cursor: url('~/cursor.png'), auto;
}

body {
  background: var(--bg-color);
}

#title {
	font-weight: bold;
	font-size: 20px;
}

header {
  width: auto;
  max-width: 1000px;
  padding: 200px;
  padding-bottom: 0px;
}

.header-color-block {
  border-radius: 50px;
  background: var(--yellow);
  display: block;
  height: 100px;
  width: 100px;
  margin-bottom: 40px;
}

main {
  width: auto;
  max-width: 1000px;
  padding: 200px;
  padding-top: 0px;
}

/* TYPOGRAPHY */
:root {
  font-family: 'Inter', 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  }
}

h1, h2, h3, .callout {
  font-weight: bold;
}

blockquote, label, div, h3, ul, li, p, a {

}

code {
  font-family: 'Fira Code', 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
}

h1 {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  line-height: 1;
  margin-bottom: 5px;
}

h3 {
  font-size: 25px;
  line-height: 1;
  margin-bottom: 5px;
}

main section:first-of-type p:first-of-type::first-line {
  font-weight: bold;
}

::first-line {

}

blockquote, label, code, div, ul, li, p, a {
  font-size: 15px;
  line-height: 1.25;
  margin-bottom: 10px;
}

blockquote, ul {
  margin-bottom: 5px;
}

blockquote, code {
  border-left: solid 2px black;
  margin-left: 15px;
}

code {
	line-height: 1;
	margin-bottom: 0px;
}

ul {
  margin-left: 30px;
}

ul.alt {
  margin-left: 15px;
}

ul.none {
  margin-left: 0px;
}

row > span, row > a {
	padding-right: 10px;
}

li {
  list-style: square;
}

li.none {
  list-style: none;
  margin-left: 0px;
}

li.alt {
  list-style: circle;
  margin-left: 15px;
}

a {
  color: var(--a-txt-color);
  text-decoration: underline;
}

img {
  margin: 10px;
  padding: 10px;
}

icon {
  color: inherit;
}

/* PROPERTIES*/
div.code {
  background-color: var(--txt-color);
  color: var(--bg-color);
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.highlight {
  color: var(--highlight-txt-color);
  background-color: var(--highlight-bg-color);
  font-weight: bold;
  text-decoration: none;
}

.callout {
  color: var(--callout-txt-color);
  background-color: var(--callout-bg-color);
  font-weight: bold;
  text-decoration: none;
}

.note, .date {
  font-size: 11px;
  letter-spacing: -1px;
}

.note {
  font-style: italic;
}

.date {
  float: right;
}

.sub {
  list-style: circle;
  margin-left: 15px;
}

/* CONTENT */
main > div {
  width: auto;
}

hr {
  background: var(--txt-color);
  display: block;
  height: 10px;
  margin-bottom: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  width: auto;
}

@media only screen and (max-width: 1800px) {
  main {
    padding: 150px;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    padding: 100px;
  }
}

@media only screen and (max-width: 960px) {
  main {
    padding: 50;
  }
  h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 800px) {
  main {
    padding: 25px;
  }
  h1 {
    font-size: 60px;
  }
}

@media only screen and (max-width: 650px) {
  main {
    padding: 15px;
  }
  img {
    background-color: var(--txt-color);
    margin: 5px;
    padding: 5px;
    width: auto;
    float: none !important;
  }
  h1 {
    font-size: 50px;
    line-height: 1.2;
  }
  h2 {
    font-size: 35px;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
}


/* SPECIAL */
emoji {
  font-style: normal !important;
}

.yellow {
  color: var(--yellow);
}
.violet {
  color: var(--violet);
}

span.rainbow {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (prefers-color-scheme: dark) {
  hr {
    -webkit-background-clip: block;
  }
}

hr.rainbow {
  -webkit-background-clip: block;
}

/* I don't remember where I originally saw this lovely
bit of css, but it made me very happy a number of years
ago, and so here it lives on. Thank you, internet person.
*/
.rainbow {
  -o-animation: rainbow 15s ease infinite;
  -webkit-animation: rainbow 15s ease infinite;
  -z-animation: rainbow 15s ease infinite;
  animation: rainbow 15s ease infinite;
  background: -moz-linear-gradient(0deg, #ff2400, #fedb00, #fedb00, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #440099, #440099);
  background: -o-linear-gradient(0deg, #ff2400, #fedb00, #fedb00, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #440099, #440099);
  background: -webkit-linear-gradient(0deg, #ff2400, #fedb00, #fedb00, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #440099, #440099);
  background: linear-gradient(0deg, #ff2400, #fedb00, #fedb00, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #440099, #440099);
  background: linear-gradient(0deg, #ff2400, #fedb00, #fedb00, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3, #440099, #440099);
  background-size: 2500% 2500%;
}
*/

/* ANIMATIONS */
@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}
